:root {
    --base-color: white;
    --base-variant: lightslategray;
    --text-color: black;
    --secondary-text: darkslategray;
    --primary-color: blue;
    --accent-color: cornflowerblue;
    --color-transition: color 1s ease;
    --background-color-transition: background-color 1s ease;
    --hidden: 0;
    --not-hidden: 1;
}
  
.darkmode {
    --base-color: black;
    --base-variant: darkslategray;
    --text-color: white;
    --secondary-text: lightslategray;
    --primary-color: green;
    --accent-color: lightgreen;
    --hidden: 1;
    --not-hidden: 0;
}
  
body {
    background-color: var(--base-color);
    transition: var(--color-transition), var(--background-color-transition);
    font-size: 16px;
}
  
#themeSwitchOuter {
    position: fixed;
    height: 2rem;
    width: 6rem;
    border: thin inset color-mix(in srgb, var(--base-variant), white 10%);
    border-radius: 25% / 75%;
    background-color: var(--base-variant);
    box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem black;
    transition: var(--background-color-transition);
    top: 0.5em;
    right: 0.5em;
    display: block;
}
  
#themeSwitch {
    position: absolute;
    left: 0.1rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    transform: translateY(5%);
    background-color: var(--primary-color);
    transition: left 1s ease, var(--background-color-transition);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#themeSwitch img {
    position: absolute;
    max-width: 100%;
    transition: opacity 1s ease, visibility 1s ease;
}
  
#themeSwitch img:first-child {
    opacity: var(--not-hidden);
    visibility: var(--not-hidden);
}
  
#themeSwitch img:last-child {
    opacity: var(--hidden);
    visibility: var(--hidden);
}
  
.textContainer {
    height: 10rem;
    border-radius: 50%;
    background-color: var(--base-color);
    transition: var(--background-color-transition);
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.text {
    line-height: 2rem;
    text-align: center;
    color: var(--text-color);
    font-size: 1.25rem;
    transition: var(--color-transition);
}