:root{
    --base-color: white;
    --base-variant: lightslategray;
    --text-color: black;
    --secondary-text: darkslategray;
    --primary-color: blue;
    --accent-color: cornflowerblue;
}

.darkmode {
    --base-color: black;
    --base-variant: darkslategray;
    --text-color: white;
    --secondary-text: lightslategray;
    --primary-color: green;
    --accent-color: lightgreen;
}

body {
    background-color: var(--base-color);
}

#themeSwitchLabel {
    position: fixed;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: var(--base-variant);
    top: 2vw;
    right: 2%;
}

#themeSwitch {
    width: 3vw;
    height: 3vw;
    padding: 0vw;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1vw;
    right: 1vw;
}

#themeSwitch svg{
    fill: var(--primary-color);
}

#themeSwitch svg:last-child{
    display: none;
}

.darkmode #themeSwitch svg:first-child{
    display: none;
}

.darkmode #themeSwitch svg:last-child{
    display: block;
}

.textContainer {
    width: auto;
    height: 4vh;
    border-radius: 100%;
    margin: auto;
    background-color: var(--base-color);
}

.text {
    line-height: 4vw;
    text-align: center;
    color: var(--text-color);
}